{% extends "layout.html" %}

{% block body_content %}
<p>This is the admin page, where you can add, update and remove categories and products</p>
<div class='form'>
        <form method='POST' action=''>
            {{ category_form.hidden_tag() }}
            <div class='form_group'>
                {{ category_form.categoryName.label }}
                {{ category_form.categoryName }}
                {% if category_form.categoryName.errors %}
                    <div class='error'>
                        {% for error in category_form.categoryName.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <br>
            <div class='form_group'>
                {{ category_form.submit }}
            </div>
        </form>
</div>
<div class='form'>
        <form method='POST' action=''>
            {{ product_form.hidden_tag() }}
            <div class='form_group'>
                {{ product_form.productName.label }}
                {{ product_form.productName }}
                {% if product_form.productName.errors %}
                    <div class='error'>
                        {% for error in product_form.productName.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <br>
	    <div class='form_group'>
                {{ product_form.productInfo.label }}
                {{ product_form.productInfo }}
                {% if product_form.productInfo.errors %}
                    <div class='error'>
                        {% for error in product_form.productInfo.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <br>
	    <div class='form_group'>
                {{ product_form.productIMG.label }}
                {{ product_form.productIMG }}
                {% if product_form.productIMG.errors %}
                    <div class='error'>
                        {% for error in product_form.productIMG.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <br>
	    <div class='form_group'>
                {{ product_form.productPrice.label }}
                {{ product_form.productPrice }}
                {% if product_form.productPrice.errors %}
                    <div class='error'>
                        {% for error in product_form.productPrice.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <br>
            <div class='form_group'>
                {{ product_form.submit }}
            </div>
        </form>
</div>

{% endblock %}
