{% extends "layout.html" %}

{% block body_content %}
<p><b>This is the admin page, where the admin can add, update and remove categories and products!</b></p>
<div class='form'>
        <form method='POST' action=''>
            {{ form.hidden_tag() }}
            <div class='form_group'>
                {{ form.categoryName.label }}
                {{ form.categoryName }}
                {% if form.categoryName.errors %}
                    <div class='error'>
                        {% for error in form.categoryName.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <br>
            <div class='form_group'>
                {{ form.submit }}
            </div>
        </form>
</div>
<br>
<hr>
<br>
<div class='form'>
        <form method='POST' action=''>
            {{ form1.hidden_tag() }}
            <div class='form-group'>
                {{ form1.productName.label }}
                {{ form1.productName }}
                {% if form1.productName.errors %}
                    <div class='error'>
                        {% for error in form1.productName.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <br>
	    <div class='form-group'>
                {{ form1.productInfo.label }}
                {{ form1.productInfo }}
                {% if form1.productInfo.errors %}
                    <div class='error'>
                        {% for error in form1.productInfo.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <br>
	    <div class='form-group'>
                {{ form1.productIMG.label }}
                {{ form1.productIMG }}
                {% if form1.productIMG.errors %}
                    <div class='error'>
                        {% for error in form1.productIMG.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <br>
	    <div class='form-group'>
                {{ form1.productPrice.label }}
                {{ form1.productPrice }}
                {% if form1.productPrice.errors %}
                    <div class='error'>
                        {% for error in form1.productPrice.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <br>
            <div class='form-group'>
                {{ form1.submit }}
            </div>
        </form>
</div>
<br>
<hr>
<br>

{% endblock %}
