{% extends "layout.html" %}
{% block body_content %}
    <a href="{{ url_for('home')}}">Home</a>
    <a href="{{ url_for('products')}}">Products</a>

    <div>
	    <p1>There are the products of the online store </p1>
    </div>
    <div align="center">
    	    <img src="{{url_for('static', filename='mug1.jpg')}}" align="middle" width="450" height="300">
            <img src="{{url_for('static', filename='mug2.jpg')}}" align="middle" width="450" height="300">
    </div>
    <br>
    <div align="center">
            <img src="{{url_for('static', filename='notebook1.jpg')}}" align="middle" width="450" height="300">
            <img src="{{url_for('static', filename='notebook2.jpg')}}" align="middle" width="450" height="300">
    </div>
    <br>
    <div align="center">
            <img src="{{url_for('static', filename='tshirt1.jpg')}}" align="middle" width="450" height="300">
            <img src="{{url_for('static', filename='tshirt2.jpg')}}" align="middle" width="450" height="300">
    </div>

{% endblock %}
